ul {
  width: 100%;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
  li {
    text-shadow: 10px 0px 10px #000;
    color: white;
    list-style-type: "• ";
    line-height: 1.5;
    transition: 0.25s ease-in-out;
    padding: 0.5rem 0;
    &:hover {
      color: #e81838;
      text-decoration: underline;
    }
  }
}
