body {
  background: url("../images/new-bg.jpg") no-repeat;
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  .center-wrapper {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100rem;
    min-width: 130rem;
    height: 100%;
    @media only screen and (max-width: 1200px) {
      height: auto;
      width: 100%;
      flex-direction: column;
    }
    @media only screen and (max-width: 800px) {
      min-height: 100vh;
      min-width: 100%;
  }
}
  .right,
  .left {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .right {
    width: 70%;
    @media only screen and (max-width: 800px) {
      width: 100%;
    }
    h2 {
      text-align: center;
      color: white;
      font-size: 3.5rem;
      line-height: 1.25;
      padding: 1rem 1rem 4rem;
      text-shadow: 10px 0px 10px #000;
      width: 75rem;
      @media only screen and (max-width: 1200px) {
        font-size: 3rem;
        padding: 2rem 2rem 7rem;
        width: 100%;
       }
      span {
        font-family: "Lobster", cursive;
        color: #e81838;
        font-style: italic;
      }
    }
    p {
      text-align: left;
      color: white;
      font-size: 2rem;
    }
    .container {
      background: rgba(0, 0, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      width: 100%;
      @media only screen and (max-width: 800px) {
        flex-direction: column;
      }
      .audio {
        height: 7rem;
        width: 30rem;
        padding: 0 1rem 0 0;
      @media only screen and (max-width: 800px) {
        padding: 1rem;
      }
      }
    }
    .social {
      display: flex;
      justify-content: center;
      padding: 0 0 7rem;
      width: 100%;
      @media only screen and (max-width: 1200px) {
        display: flex;
        justify-content: flex-start;
        left: 0;
        padding: 0 3rem;
        position: absolute;
        top: 1rem;
        width: 50%;
      }
      a {
        background: white;
        border: 1px solid #000;
        border-radius: 2rem;
        height: 1.6rem;
        margin: 0.5rem;
        padding: 0.5rem;
        width: 1.6rem;
        transition: 0.25s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .twitter {
      margin-top: 2rem;
      width: 75%;
      @media only screen and (max-width: 1200px) { 
        width: 80%;
      }
      @media only screen and (max-width:800px) { 
        width: 100%;
      }
    }
  }
}
.left {
  width: 30%;
}
.header {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.75rem;
  letter-spacing: 0.1rem;
  margin: 2rem 0 1rem;
  width: 50%;
  text-shadow: 10px 0px 10px #000;
  &:after {
    background: #fff;
    content: "";
    display: block;
    height: 0.5rem;
    margin-top: 1rem;
    width: 10rem;
  }
  @media only screen and (max-width: 1200px) { 
    display: none;
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  a {
    margin: 0.5rem 0;
  }
}
ul {
  width: 50%;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
  li {
    text-shadow: 10px 0px 10px #000;
    color: white;
    list-style-type: "• ";
    line-height: 1.5;
    transition: 0.25s ease-in-out;
    padding: 0.5rem 0;
    &:hover {
      color: #251228;
      text-decoration: underline;
    }
  }
}
.footer {
  align-items: center;
  background-color: rgba(0, 0, 0, .95);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
  .mailchimp {
    width: 100%;
    max-width: 65rem;
    @media only screen and (max-width: 600px) {
      margin-top: 3rem;
    }
  }
  .copyright {
    p {
      padding: 1rem 0;
      font-weight: bold;
    }
  }
  #mc_embed_signup {
    width: 100%;
    #mc_embed_signup_scroll {
      align-items: center;
      display: flex;
      justify-content: center;
      label {
        min-width: 23rem;
        padding-right: 0.5rem;
        width: 100%;
        @media only screen and (max-width: 600px) {
          position: absolute;
          padding: 0 0 0 1rem;
          top: -1.6rem;
        }
      }
      input.email {
        min-width: 20rem;
      }
      .button {
        background: black;
        border: 0.5px solid white;
      }
    }
  }
}
